/*==================================extra small start===============================*/
@media (min-width: 320px) and (max-width: 575px) {
    nav {
        box-shadow: inset 0 0 150px 0 rgba(26, 26, 25, 1);
        text-align: center;
    }

    nav .container button {
        color: #F26527;
        outline: none;
        background: #2E3192;
    }

    nav .navbar-brand img {
        width: 131px !important;
        height: 32px !important;

    }
}

/*==================================extra small end===============================*/
